body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Rosario', sans-serif;
}

a{
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px #111111;
}

/* header */
header{
    margin: 0;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5aaca6;
    position: fixed;
    top:0;
    z-index: 2;
    color: white;
    box-shadow: 0 0 5px 3px #000;
}

.logo > img{
    width: 50px;
    height: 50px;
}

.logo{
    margin-left: 7vw;
    font-family: 'Cabin Sketch', cursive;
    text-shadow: 1px 1px 1px #5F04B4;
}

header>div{
    width: 200px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 4vw;
}

nav>a:hover{
    transform: scale(1.2);
    padding: 0 3px 0 3px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

header button{
    padding: 5px 7px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #e93939;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 2px 1px #970a0a;
}

/* footer */
footer {
    height: 50px;
    color: white;
    font-size: 10pt;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer > div{
    width: 50vw;
    justify-self: flex-end;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    justify-content: space-around;
}