body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Rosario', sans-serif;
}

a{
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px #111111;
}